html {
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    height: 100%; /* Ensure the HTML element takes up the full height of the viewport */
}

body {
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox layout for the body */
    min-height: 100%; /* Ensure the body takes up at least the full height of the viewport */
}

.sidebar {
    background-color: rgb(30, 215, 96);
    color: black;
    width: 20vw;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox layout for the sidebar */
    flex-direction: column; /* Arrange the children of the sidebar vertically */
}

.sidebar h2 {
    margin-top: 0; /* Remove top margin from the h2 element */
    padding: 10px; /* Add some padding to the h2 element */
}

.sidebar ul {
    margin-top: 0; /* Remove the default margin from the unordered list */
    padding-left: 0; /* Remove any default padding */
    list-style: none; /* Remove bullet points from list items */
    flex-grow: 1; /* Make the list expand to fill remaining space */
    text-align: left;
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
}

.sidebar li a{
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    transition: font-size 0.3s ease;
}

.sidebar li{
    flex-direction: column;
    justify-content: space-between;
}

.sidebar a:hover {
    font-size: 2em;
}

form {
    color: black;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    width: 25%;
    padding: 2px;
    margin-top: 15vh;
}

input {
    border-radius: 5px;
}

.content {
    margin-left: 0vw; /* Adjust margin to leave space for the sidebar */
    padding: 20px;
    box-sizing: border-box;
    width: 80vw;
}

.image-container {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    border: 2px solid rgb(30, 215, 96);
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
